body{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
button{
  margin: 0;
  padding: 10px 20px;
  margin-top: 20px;
}
.add{
  margin-right: 10px;
}
.sub{
  margin-left: 10px;
}
button:hover{
  cursor:pointer;
}